@use "../../sassVariables/variables.scss" as vars;

.red {
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$color-primary-text-navbar;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 5px;

  .icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.2rem;
    margin-right: 1rem;
  }

  &:hover {
    color: vars.$hover-color;
  }
}
