$background-color-primary: #E6E6E6;
$primary-color: #00486B;
$secondary-color: #fff;
$color-text-primary: $secondary-color;
$color-skills-percentage: blue;
$color-primary-text-navbar: $primary-color;
$color-secondary-text-navbar: #f393a4;
$background-color-navbar: $background-color-primary;
$color-line-skills: #96BEBD;
$height-container-photo: 25rem;
$hover-color: #40a3d4;
$primary: #0571a7;
$secondary: #40a3d4;
$white: #fff;
$gray: #9b9b9b;
$height-navbar: 5rem;
$padding-base-mobile: 1.5rem;
$padding-base-medium: 3rem;
$padding-base-large: 5rem;
$width-min-medium: 60vw;
$font-size-home-span: 1.2rem;
$padding-bottom-component: 4rem;
$h1-title-small: 2.5rem;
$h1-title-mobile: 3rem;
$h1-title-large: 4rem;
$max-width-container-description-mobile: 25rem;
$max-width-container-description-large: 35rem;
$width-photo: 40vw;
$max-width-movile: 100vw;
$height-footer: 15vh;
$section-width-without-padding-mobile: calc(100% - $padding-base-mobile);
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Playfair Display', serif;

$breakpoints: (
    small: 380px,
    medium: 767px,
    large: 1025px,
    xl: 1300px,
)