@import "./sassVariables/variables.scss";
// @use "./sassVariables/variables.scss" as *; 

h2{
  font-family: "Prata", serif;
}
body, html{
  font-family: 'Montserrat',sans-serif;
  background-color: $background-color-primary;
  // background-color: brown;
}
.App{
  padding-top: $height-navbar;
}
html{
  scroll-behavior: smooth;
}
.App-link {
  color: #61dafb;
}

@media (max-width: (map-get($breakpoints, medium))-1) {
  body {
      background-color: red;
      width: 100vw;
      .App{
        width: 100% !important;
        background-color: chartreuse;
        min-height: 100vh;
      }
  }
}

@media (min-width: (map-get($breakpoints, medium))) {
  .App{
    width: 100vw !important;
    min-height: 60vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}