@import "./sassVariables/mixins.scss";

.app {
  width: min(100%, 1440px);
  position: relative;
}

.animate-on-appear {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes slideInStayAndExit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
    display: none;
  }
}

.containerLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #aadcec;
  z-index: -11000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: slideInStayAndExit 2s ease-in-out forwards;
  position: fixed;
  overflow: hidden;
}

body {
  @include porfolio-background;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: calc(100vh - 40px);
  position: relative;
  padding: 20px;
}