@import "./sassVariables/variables.scss";

body {
  font-family: $font-family-primary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: $primary-color;
}

h1, h2, h3 {
  font-family: $font-family-secondary;
}

body,
html {
  background-color: $background-color-primary;
}

body {
  overflow-x: hidden;
}

.App {
  margin-top: $height-navbar;
}

html {
  scroll-behavior: smooth;
}

.App-link {
  color: #61dafb;
}

.containerLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}

.App::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 34px;
  background-color: $progress-bar-color;
  z-index: 1000;
  top: 0;
  position: fixed;
  scale: 0 1;
  transform-origin: left;
  animation-timeline: scroll();
  animation: scroll-watcher linear;
}

@media (max-width: (map-get($breakpoints, small))) {
  body {
    background-color: $primary-color;

    .App {
      width: 100% !important;
      max-width: 100vh;
    }

    h1 {
      font-size: $h1-title-small;
    }
  }
}

@media (min-width: (map-get($breakpoints, small))) and (max-width: (map-get($breakpoints, medium))-1) {
  body {
    background-color: $primary-color;

    .App {
      width: 100% !important;
      max-width: 100vh;
    }

    h1 {
      font-size: $h1-title-mobile;
    }
  }
}

@media (min-width: (map-get($breakpoints, medium))) and (max-width: (map-get($breakpoints, large))-1) {
  .App {
    width: 100% !important;
    max-width: 100vh;
    min-height: 60vh;
  }

  h1 {
    font-size: $h1-title-large;
  }

}
@media (min-width: (map-get($breakpoints, large))) {
  .App {
    width: 100vw !important;
    max-width: 100vh;
    min-height: 60vh;
  }

  h1 {
    font-size: $h1-title-large;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

section {
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
  animation-range: entry 10% cover 30%;
}
