@import "../sassVariables/variables.scss";

.containerDownload{
    // background-color: blue;
    padding-top: 1rem;
    text-align: start;
    letter-spacing: 5px;
}

// @media (min-width: (map-get($breakpoints, medium))-1) {
//     .containerDownload{
//         background-color: none;
//     }
// }

@media (min-width: (map-get($breakpoints, medium))) {
    .containerDownload{
        text-align: center;
        background-color: $background-color-navbar;
    }
}