//@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import "../sassVariables/variables.scss";

.container{
    background-color: $color-text-primary;
}

.elements{
    h1{
        color: $primary-color;
    }
    .line{
        border-left: 0.15rem solid $primary-color; 
    }
}
.iconos{
    background-color: $primary-color;
    color: $color-text-primary;
}

@media (max-width: (map-get($breakpoints, medium ))-1) {
    .container{
        // background-color: rgb(10, 13, 20);
        width: 95vw;
        // min-height: ;
        height: fit-content;
        text-align: left;
        padding-left: $padding-base-mobile;
        .iconos{
            display:block;
            justify-content: center;
            width: 100%;
            height: fit-content;
            background-color: $primary-color;
            margin-left: -$padding-base-mobile;
            padding-right: $padding-base-mobile;
        }
    
        .elements{
            // background-color: red;
            display: flex;
            justify-content: flex-start; 
            align-items: flex-start;
            flex-direction: column;
            // margin-left: $padding-base-mobile;
            margin-right: 1.5rem;
            margin-top: 0.1rem;
    
            h1{
                font-family: 'Crimson Pro', serif;
                font-size: 3rem;
            }
    
            .line {
                //width: 0.5rem;
                height: 3.5rem;                  
            }
    
            .acordeon{
                margin-top: 1.5rem;
                width: 98%;
                padding-bottom: 3rem;
            }
        }   
        }
   
}

@media (min-width: (map-get($breakpoints, medium))) and (max-width: (map-get($breakpoints, large))-1) {

    .container{
        // background-color:#5068d1;
        width: $width-min-medium;
        height: fit-content;
        text-align: left;
        padding-left: $padding-base-medium; 
        .iconos{
            // background-color: plum;
            display:block;
            // justify-content: center;
            width: 100%;
            height: fit-content;
            //background-color: #003333;
            margin-left: -$padding-base-medium;
            padding-right: $padding-base-medium;
            background-color: $primary-color;
        }
    
        .elements{
            // background-color: red;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            // margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 3rem;
    
            h1{
                font-family: 'Crimson Pro', serif;
                font-size: 3rem;
                // color:#003333 ;
            }
    
            .line {
                height: 6rem;                  
            }
    
            .acordeon{
                margin-top: 1.5rem;
                width: 100%;
                padding-bottom: 8rem;
            }
        }   
        }

}

@media (min-width: (map-get($breakpoints, large))) {
    .container{
        width: $width-min-medium;
        // width: 110%;
        // display: flex;
        height: fit-content;
        text-align: left;
        padding-left: $padding-base-large;
        .iconos{
            display: block;
            width: 100%;
            height: 30vh;
            margin-left: -$padding-base-large;
            padding-right: $padding-base-large;
        }

        .elements{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            // margin-left: 5rem;
            margin-right: 5rem;
            margin-top: 3rem;

            h1{
                font-family: 'Crimson Pro', serif;
                font-size: 3rem;
            }

            .line {
                height: 6rem;                  
            }

            .acordeon{
                margin-top: 1.5rem;
                width: 100%;
                padding-bottom: 8rem;
            }
        }   
    }
}



