@import "../sassVariables/variables.scss";

.container{
    // background-color: cadetblue;
    width: 100%;
}

@media (max-width: (map-get($breakpoints, small ))-1){
    .container{
        // background-color: red;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: left;
        .containerImg{
            // background-color: violet;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            .images{
                // background-color: black;
                margin-top: 1.5rem;
                width: 8rem;
                height: 8rem;
            }
            .description{
                // background-color: blue;
                margin-top: 6px;
                font-size: 0.7rem;
                letter-spacing: 3px;
            }
        }
    }
}

@media (min-width: (map-get($breakpoints, small))) and (max-width: (map-get($breakpoints, large))-1){
    .container{
        width: 21rem;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding-bottom: 2rem;
        .containerImg{
            // background-color: violet;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            margin-right: 2rem;
            align-items: center;
            .images{
                // background-color: black;
                margin-top: 1.5rem;
                width: 8.5rem;
                height: 8rem;
            }
            .description{
                // background-color: blue;
                margin-top: 6px;
                font-size: 0.7rem;
                letter-spacing: 3px;
            }
        }
    }
}

@media (min-width: (map-get($breakpoints, large))) {
    .container{
        // background-color: blue;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-left: $padding-base-mobile;
        .containerImg{
            // background-color: brown;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            margin-right: 2rem;
            align-items: center;
            .images{
                // background-color: black;
                width: 11vw;
                max-width: 9.5rem;
                height: 11vw;
                max-height: 9.5rem;
            }
            .description{
                // background-color: blue;
                margin-top: 6px;
                font-size: 0.7rem;
                letter-spacing: 3px;
            }
        }
    }
}