@import "../../sassVariables/variables.scss";

.container {
  background-color: $primary-color;
  width: $section-width-without-padding-mobile;
  height: fit-content;
  text-align: left;
  padding-left: $padding-base-mobile;

  .elements {
    margin-right: 1rem;

    h1 {
      color: $color-text-primary;
    }
    
    .line {
      height: 4rem;
      border-left: 0.15rem solid $color-text-primary;
    }
  }

  .botones {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;

    button {
      display: flex;
      align-items: center;
      background: none;
      border: 0.15rem solid;
      font-size: 1.2rem;
      text-align: left;
      color: $color-text-primary;
      padding: 0.8rem;
      height: fit-content;
      

      a {
        outline: none;
        text-decoration: none;
        color: $color-text-primary;
      }

      &:hover {
        border-image: linear-gradient(to right, $primary, $secondary);
        border-image-slice: 1;
      }
    }
  }

  .cart {
    display: block;
    margin-right: 2.5rem;
    margin-top: 1rem;
    padding: 0 0 2rem 0;

    .info {
      display: flex;
      width: 100%;
      height: fit-content;
      flex-direction: column;
      top: 0;

      .texto {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        color: $color-text-primary;

        h2 {
          font-size: 2rem;
          margin-top: 0;
        }

        span {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
    }

    .imagen {
      display: flex;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        object-fit: fill;
      }

      video {
        width: 100%;
        height: auto;
      }
    }
  }
}

.repo {
  margin-left: 1rem;
}


@media (max-width: (map-get($breakpoints, small ))) {
  .botones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      width: 90%;
      margin-bottom: 0.8rem;
      justify-content: center;
    }
  }

  .repo {
    margin-left: 0;
  }
}



@media (min-width: (map-get($breakpoints, small ))) and (max-width: (map-get($breakpoints, medium ))-1) {
  .container {
    padding-bottom: 1rem;

    .elements {
      padding: 0.5rem;
    }

    .cart {
      height: fit-content;
      flex-direction: column;

      .info {
        .texto {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: (map-get($breakpoints, medium))) and (max-width: (map-get($breakpoints, large))-1) {
  .container {
    width: $width-min-medium;
    padding-left: $padding-base-medium;

    .elements {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 5rem;

      .line {
        height: 6rem;
      }
    }

    .cart {
      display: flex;
      margin-right: 2rem;
      margin-top: 2rem;
      padding: 0 0 1rem 0;

      .info {
        width: 50%;
      }

      .imagen {
        width: 50%;
        align-self: center;
        margin-left: 0.5rem;
      }
    }
  }
}

@media (min-width: (map-get($breakpoints, large))) {
  .container {
    width: $width-min-medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $padding-base-large;

    .elements {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 5rem;
      margin-top: 3rem;

      .line {
        height: 6rem;
      }
    }

    .cart {
      display: flex;
      margin-right: 5rem;
      margin-top: 1.5rem;
      padding: 0 0 0.5rem 0;

      .info {
        width: 48%;

        .texto {

          h2 {
            font-size: 2.5rem;
          }
        }
      }

      .imagen {
        align-self: center;
        width: 48%;
        margin-left: 2rem;
      }
    }
  }
}
